.add__todo {
  display: flex;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 70px;
  right: 2.5px;
  z-index: 5;
  justify-content: center;
  align-items: center;
  background-color: #243441;
  border: 1px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.add__icon_container {
  transform: rotate(0);
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.add__icon_container-active {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: rotate(45deg);
}

.loading__btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}